// Naming 5 colours for ease
$default-color: #8ccff7;
$first-color: #4e89ae;
$second-color: #43658b;
$third-color: #ed6663;
$fourth-color: #ffa372;

// Mixin to center elements
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin for media queries
@mixin breakpoint($max: 5000px, $min: 0px) {
    @media screen and (max-width:$max) and (min-width:$min) {
        @content;
    }
}

body {
    margin: 0;
    background-color: rgb(224, 234, 237);
}

// Container for elements
.container {
    @include center()
}

// Container header
.container.header {
    background-color: $default-color;
}

// Width images on display: none
.small-width, .medium-width, .large-width {
    display: none;
}

// Container row
.container-row {
    margin-top: 50px;
}

// First element of row
.main-row {
    height: 50px;
    background-color: $first-color;

    &:hover {
        background-color: #444;
    }
}

.second-row {
    @extend .main-row; // Using extend to copy the main css for ease
    background-color: $second-color;
}

.third-row {
    @extend .main-row;
    background-color: $third-color;
}

.fourth-row {
    @extend .main-row;
    background-color: $fourth-color;
}

// Container circle
.container.circle {
    margin: 76px 0; 
    .circles {  
        display: flex;
        align-items: center;
        gap: 20px;
    }    
}

.main-circle {
    @include center();
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $first-color;
    cursor: pointer;
    &:hover {
        background-color: #444;
    }
}

.second-circle {
    @extend .main-circle;
    height: 80px;
    width: 80px;
    background-color: $second-color;
}

.third-circle {
    @extend .main-circle;
    height: 90px;
    width: 90px;
    background-color: $third-color;
}

.fourth-circle {
    @extend .main-circle;
    height: 100px;
    width: 100px;
    background-color: $fourth-color;
}

footer {
    height: 50px;
    background-color: $default-color;
}

// Media query to display 400x400 image
@include breakpoint($min:801px) {
    .large-width {
        display: block;
    }
}

// Media query to display 300x300 image
@include breakpoint(800px, 481px) {
    .medium-width {
        display: block;
    }
}

// Media query to column circles
@include breakpoint($max:620px) {
    .circles {
        flex-direction: column;
    }    
}

// Media query to display 200x200 image
@include breakpoint($max:480px) {
    .small-width {
        display: block;
    }
}